.container-regular {
    background-color: red;
}

.container-blue {
    height: 300px;
    background-color: blue;
}

.col-custom {
    background-color: green;
}

.col-custom:nth-of-type(odd) {
    background-color: orange;
}